:root {
    /* Colors */
    --day-bg: #e7e8eb;
    --day-bg-lighter: #fefeff;
    --day-bg-darker: #e7e8eb;
    --day-border-color: rgb(200, 200, 200);

    --day-accent: #ca2b2b;

    --day-text: black;
    --day-alt-text: rgb(41, 41, 41);

    /* Night theme */
    --night-bg: #191a1b;
    --night-bg-lighter: #212224;
    --night-bg-darker: #1e2022;
    --night-border-color: #4b4d50;

    --night-accent: #ca2b2b;

    --night-text: white;
    --night-alt-text: rgb(243, 243, 243);


    /* Font */
    --font-body: 'Open Sans', sans-serif;
    --font-title: 'DM Sans', sans-serif;
    --container-width: 1200px;

    /* Social */
    --facebook: #1877F2;
    /* --instagram: radial-gradient(circle at bottom left, #FFD600 0%, #FF7A00 25%, #FF0069 50%, #D300C5 75%, #7638FA 100%); */
    --instagram: #e72877;
    --youtube: #ff0000;
    --tiktok: black;
    --tiktok-blue: #00f8ef;
    --tiktok-pink: #ff004f;
    --tiktok-gradient:
        linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.9) 100%),
        radial-gradient(circle at top left, transparent 75%, var(--tiktok-blue) 100%) top left,
        radial-gradient(circle at top right, transparent 75%, var(--tiktok-pink) 100%) top right,
        black;
}

/* Universal */
* { box-sizing: border-box; }
body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;

    font-family: var(--font-body);
    font-size: 11pt;
}
/* Theme */
body {
    /* Colors */
    --bg: var(--day-bg);
    --bg-lighter: var(--day-bg-lighter);
    --bg-darker: var(--day-bg-darker);
    --border-color: var(--day-border-color);

    --accent: var(--day-accent);

    --text: var(--day-text);
    --alt-text: var(--day-alt-text);
}
/* @media (prefers-color-scheme: dark) {
    body {
        --bg: var(--night-bg);
        --bg-lighter: var(--night-bg-lighter);
        --bg-darker: var(--night-bg-darker);
        --border-color: var(--night-border-color);

        --accent: var(--night-accent);

        --text:var(--night-text);
        --alt-text: var(var(--night-alt-text));
    }
} */


p {
    line-height: 170%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: 700;
    margin: 0 0 16px;
}
h2 {
    font-size: 20pt;
    border-bottom: 1px solid var(--border-color);
}
h3 { font-size: 16pt; }

/* Shorthand */
.flex { display: flex; }
.media_flex { flex-direction: column; }
.width100 { width: 100%; }
.justify_center {
    justify-content: center;
    align-items: center;
}

/* General */
.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 9px;
}
button, .button, [role="button"] { cursor: pointer; }
button,
.button {
    --bg: var(--accent);
    --border: var(--accent);
    --text: white;

    margin-bottom: 6px;

    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: var(--bg);
    color: var(--text);
    font-weight: bold;

    font-size: 12pt;
    font-family: var(--font-body);
    width: 100%;
    padding: 10px 6px;
    border: 4px solid var(--bg);
    border-radius: 12px;

    transition-property: background, transform, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
button:hover,
button:focus-visible,
.button:hover,
.button:focus-visible {
    --bg: white !important;
    --accent: white;
    --text: black;
    border-color: var(--accent);

    text-decoration: underline;
    z-index: 1;

    transition-duration: 0.05s;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.02, 1.02);
}

/* Navigation */
#nav {
    background-color: var(--bg-lighter);
    color: var(--text);

    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 10;

    transition: opacity 0.3s ease, transform 0.2s ease;
}
#nav.hidden:not(:focus-within) { pointer-events: none; opacity: 0; transform: translateY(-100%); }
#nav #logo {
    height: 72px;
}
#nav .cta {
    margin-left: auto;
    max-width: 300px;
    font-size: 11pt;
}
#nav .cta .button_inner { border-color: var(--bg-lighter); }
#nav .cta:hover .button_inner, #nav .cta:focus-visible .button_inner {
    border-color: var(--text);
}

/* Landing Header */
#landing {
    /* background-color: var(--accent); */
    /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.4); */
    padding: 72px 0;
    min-height: 85vh;
    position: relative;

    background: rgb(20, 20, 20);
    background: linear-gradient(0deg, rgb(29, 11, 11) 0%, rgb(5, 5, 5, 1) 100%);
    /* background: linear-gradient(0deg, rgb(11, 29, 25) 0%, rgb(5, 5, 5, 1) 100%); */
    background-repeat: no-repeat;
    background-position: right center;
}
#landing .column {
    width: 100%;
    margin: 0 8px;
}
/* #landing .header_inner {
    outline: 2px solid brown;
} */
.logo_col {
    max-width: 480px;
}
.logo_col img { width: 100%; }
#landing .image_col {
    max-width: 480px;
}

/* Call To Action */
#call_to_action { margin-bottom: 12px; }
.cta {
    /* --accent: #ca2b2b; */
    border-radius: 50px;
    padding: 0;
}
.button_inner {
    padding: 10px 6px;
    border: 2px solid black;
    border-radius: 50px;
}

/* Tagline */
#landing .tagline {
    color: var(--night-text);
    text-align: center;
}

/* Carousel */
#landing .carousel {
    width: 100%;
    /* height: 100%; */

    position: relative;
}
#landing .carousel .carousel_images {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    /* position: relative; */
}
#landing .carousel .carousel_images { -ms-overflow-style: none; scrollbar-width: none; }
#landing .carousel .carousel_images::-webkit-scrollbar { display: none;  }
#landing .carousel .carousel_images img{
    width: 100%;
    object-fit: contain;
    scroll-snap-align: start;
}

#landing .carousel .arrow {
    width: 48px;
    position: absolute;
    /* top: 50%; */
    bottom: 0;
    opacity: 0.7;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}
#landing .carousel .arrow:hover,
#landing .carousel .arrow:focus-visible {
    opacity: 1;
}
#landing .carousel .arrow.prev {
    left: 12px;
    transform: translateY(-50%) rotate(90deg);
}
#landing .carousel .arrow.next {
    right: 12px;
    transform: translateY(-50%) rotate(-90deg);
}

#landing .carousel .indicators { padding-top: 12px; }
#landing .carousel .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.3;
    margin: 0 4px;
}
#landing .carousel .dot.active { opacity: 1; transform: scale(1.1, 1.1); }


/* Navigation */
nav {
    margin-top: 5px;
}
nav > a {
    display: inline-block;
    min-width: 124px;
    padding: 3px 9px 5px;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;

    text-align: center;
    color: white;
    text-decoration: none;
    /* font-size: 12pt; */
    font-weight: bolder;

    transition: background-color 0.25s ease;
}
nav > a:hover {
    color: black;
    background-color: white;
    transition-duration: 0.075s;
    z-index: 1;
}


/* Main */
main {
    padding: 32px;
    margin-top: -64px;
    z-index: 3;
    position: relative;
}
main .column {
    width: 100%;
    background-color: var(--bg-lighter);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    /* padding: 24px; */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.075);

    position: relative;
    overflow: hidden;
}
/* Left column */
main .info_col {
    width: 100%;
    min-width: 350px;
    padding: 12px 12px;
}

/* CORNER TRIANGLE */
/* main .info_col::before {
    content: "";
    border: 32px solid;
    border-color: var(--accent) var(--accent) transparent transparent;

    position: absolute;
    top: 0; right: 0;
} */

/* Social media buttons */
main .social_buttons .button {
    padding: 2px 6px;
    margin: 0 0 4px 0;
    text-align: left;
    display: flex;
    font-size: 11pt;
    align-items: center;

    min-height: 52px;
}
main .social_buttons .button:not(:first-of-type) {
    --text: black;
    --bg: transparent;

    color: var(--text);
    border: 1px solid var(--border-color);
}

main .social_buttons img {
    width: 32px;
    height: 32px;
    margin: 0 12px 0 6px;

    /* filter: brightness(100) invert() saturate(0); */
}
main .social_buttons .button p {
    margin: 0;
    line-height: 140%;
}
main .social_buttons .button p.alt_text {
    opacity: 0.6;
    font-size: 10pt;
    font-weight: normal;
}

/* Social hover */
main .social_buttons .button:hover, 
main .social_buttons .button:focus-visible {
    background: var(--accent);
    color: white;
    border-color: var(--accent);
}
main .social_buttons .button:hover img.hover_invert, 
main .social_buttons .button:focus-visible img.hover_invert {
    filter: brightness(0) invert()/* drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));*/
}


#instagram_embed {
    margin-top: 32px;
}
/* Right column */
main .body_col {
    /* background-color: var(--bg-darker); */
    width: 100%;
    min-width: 350px;
    padding: 18px 32px;

    margin-top: 20px;
}
main .bio_image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    border: 4px solid white;
    margin: 12px 24px 12px 6px;
    position: relative;
}
main .bio_image::before {
    content: "HELLO";
    display: block;

    background-color: var(--accent);


    position: absolute;
    z-index: 99;
    width: 100px;
    height: 100px;

    /* transform: translateX(-50px); */
}
main p {
    margin: 0;
}


/* Footer */
#footer {
    padding: 32px;
    /* background-color: var(--bg-darker); */
    border-top: 1px solid var(--border-color);
    /* border-top: 1px solid rgb(182, 182, 182); */
}


/* Desktop layout */
@media only screen and (min-width: 850px) {
    .media_flex {
        flex-direction: row;
    }
    main .info_col {
        max-width: 320px;
        margin-right: 18px;
    }
    #landing .image_col {
        max-width: unset;
    }
    main .body_col { margin-top: unset; }
}
